body {
  background-color: #CCF3EE;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.top-container{

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  position:relative;
  padding-top: 50px;

}

.middle-container{
  margin:100px 0px;
  background-color: white;

}

.bottom-container{
background-color: #CCF3EE;
margin:30px;
}

.yellow-container{
}

h1{
  margin: 50px auto 0px auto;
  font-family: 'Sacramento'cursive;
  font-size:6.52rem;
  color: #66BFBF;
  line-height: 2;
}
.bottom-cloud{
  position:absolute;
  bottom:300px;
  left:300px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:50px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight: normal;
  padding: 10PX;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
a{
  color:#11999E;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height:1;
}
.com{
  width:25%;
  float:left;
  margin-right:30px;
}
.som{
  width:25%;
  float:right;
  margin-left:30px;
}
.rom{
  width:25%;
}
p{
  padding:20px;
  color:grey;
  font-family:'Montserrat', sans-serif;
  width:30%;
  margin:10px auto; 
}
.footer-link{
  margin:30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #bfb2bf;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
